:root {
    --neon-pink: #FB565A;
    --neon-green: #00CA74;
    --neon-yellow: #EFC849;
    --basic-black: #000000;
    --basic-grey: #eeeeee;
    --basic-white: #ffffff;
  }

.page {
  width: 100%;

  margin: 0 auto;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.visual-hidden{
  display: none;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.horizontal-line{
  width: 1158px;
  border: none; 
  background-color: #eeeeee; 
  height: 2px; 
}

.vertical-line{
  border: 2px solid #eeeeee;
  height: 52px;
  margin-left: 50px;
  margin-right: 50px;
  vertical-align: 30px;
}

.button{
  border-radius: 3px;
  text-align: center;
  color:white;
  font-size: 16px;
  line-height: 18px;
}

/*header index.html*/

.background-header{
  width: 1440px;
  background-color: var(--basic-grey);
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 80px;
}

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* index.html */

.main-header {
  background-color: var(--basic-grey);
  margin-bottom: 80px;
}
.main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.main-header-logo{
  order: 0;
  margin-left: 148px;
  margin-top: 50px;
}

.main-navigation-wrapper {
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: 350px;
  padding: 0;
}

.site-navigation a,
.user-navigation a{
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
  margin-top: 50px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #FB565A;
}

.user-navigation{
  position: relative;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-grey);
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 13px;
  left: 20px;
  height: 2px;
  background-color: var(--neon-pink);
}

.cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg"); 
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 83px;
  left: -25px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.menu-columns{
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.name{
  font-size: 55px;
  line-height: 55px;
  text-align: left;
}

.math-design{
  font-size: 16px;
  line-height: 24px;
}

.more-info{
  width: 240px;
  height: 50px;
  background-color: var(--neon-pink);
  border-radius: 3px;
  text-align: center;
  color:white;
}

.more-info:hover, 
.more-info:focus{
  background-color: #E74246;
}

.more-info:active{
  color: #FFFFFF;
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.goods{
  margin-bottom: 80px;
}

.goods-list {
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  column-gap: 80px;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.goods-item {
  text-align: left;
}

.goods-item p {
  font-size: 16px;
  line-height: 24px;
}

.goods-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.order-button-first{
  margin-top: 20px;
  width: 160px;
  height: 50px;
  background-color: var(--neon-pink);
  border-radius: 3px;
  text-align: center;
  color:white;
}

.order-button-first:hover, 
.order-button-first:focus{
  background-color: #E74246;
}

.order-button-first:active{
  background-color: #D7373B;
  color: #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-button-second{
  margin-top: 20px;
  width: 160px;
  height: 50px;
  background-color: var(--neon-green);
  border-radius: 3px;
  text-align: center;
  color:white;
}

.order-button-second:hover, 
.order-button-second:focus{
  background-color: #00BC6C;
}

.order-button-second:active{
  color: #FFFFFF;
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-button-third{
  margin-top: 50px;
  width: 160px;
  height: 50px;
  background-color: var(--neon-yellow);
  border-radius: 3px;
  text-align: center;
  color:white;
}

.order-button-third:hover, 
.order-button-third:focus{
  background-color: #EAB534;
}

.order-button-third:active{
  color: #FFFFFF;
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.index-columns{
  width: 1160px;
  display: grid;
  grid-template-columns: 660px 360px;
  column-gap: 140px;
  margin: 0 auto;
  padding: 0;
  margin-top: 73px;
  margin-bottom: 73px;
}

.about-us{
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}

.description{
  text-align: left;
  margin-bottom: 40px;
}

.order{
  text-transform: uppercase;
  margin-bottom: 23px;
}

.order-list{
  list-style: none;
}

.order-item{
  margin-bottom:46px;
}

.order-item:before{
  width: 25px;
  height: 2px;
  content: "— ";
  color: var(--neon-pink);
}

.numbers{
  text-transform: uppercase;
  text-align: center;
}

.numbers-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  column-gap: 42px;
  padding: 0;
  list-style: none;
}

.numbers-item{
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-align:left;
}

.numbers-item p{
  margin-top: 10px;
}

.numbers-item h4{
  font-size: 45px;
  line-height: 64px;
}

.picture-columns{
  padding: 0;
  display: grid;
  margin: 0 auto;
  margin-bottom: 63px;
  margin-top: 63px;
}

.picture-1:hover,
.picture-1:focus{
  background: url(img/logo-1_2.svg);
}

.picture-2:hover,
.picture-2:focus{
  background: url(img/logo-2_2.png);
}

.picture-3:hover,
.picture-3:focus{
  background: url(img/logo-3_2.png);
}

.picture-4:hover,
.picture-4:focus{
  background: url(img/logo-4_2.png);
}

.picture-1:active{
  background: url(img/logo-1_3.svg);
}

.picture-2:active{
  background: url(img/logo-2_3.png);
}

.picture-3:active{
  background: url(img/logo-3_3.png);
}

.picture-4:active{
  background: url(img/logo-4_3.png);
}

.indent{
  margin-bottom: 80px;
}

/* catalog.html */

.page-name{
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin-left: 357px;
}

.page-catalog {
  width: 1160px;
  display: grid;
  grid-template-columns: 260px auto;
  gap: 140px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.catalog-list {
  width: 760px;
}

.sort-list{
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-bottom: 88px;
  width: 760px;
}

.sort{
  margin-top: -5px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-right: 266px;
}

.sort-item a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  color:var(--basic-black);
  opacity: 0.3;
  padding-right: 25px;
}

.sort-item:last-child{
  padding-right: 0px;
}

.sort-item-current a{
  color: var(--basic-black);
  opacity: 1;
}

.sort-item:hover,
.sort-item:focus{
  color:var(--basic-black);
  opacity: 0.6;
}

.sort-item:active{
  color: var(--basic-black);
  opacity: 1;
}

.button-sort {
  color: transparent;
  float: right;
  font-size: 0;
  height: 20px;
  position: relative;
  width: 10px;
}

.icon-up-dir:before { 
  content: "\25b2"; 
} /* "▲" */

.icon-down-dir:before { 
  content: "\25bc"; 
} /* "▼" */

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 54px;
}

.grid{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.grid-list{
  list-style: none;
  border: none;
  margin-bottom: 47px;
}

.filter-radio{
  margin-bottom: 20px;
}

.filter-radio:nth-child(3){
  margin-bottom: 0px;
}

.advantages{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages-list{
  list-style: none;
  border: none;
}

.filter-option{
  margin-bottom: 19px;
}

.filter-option:nth-child(5){
  margin-bottom: 50px;
}

.show{
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 3px;
  text-align: center;
  color: white;
}

.show:hover,
.show:focus{
  background-color: #dfdfdf;
  color: black;
}

.price-button{
  width: 200px;
  height: 50px;
  background-color: var(--neon-pink);
  border-radius: 3px;
  text-align: center;
  color:white;
}

.price-button:hover, 
.price-button:focus{
  background-color: #E74246;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: #283136;
}

.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: #283136;
}

.web-goods-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  column-gap: 40px;
  row-gap: 72px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 3px;
  margin-bottom: 60px;
  margin-top: 55px;
}

.pagination-item a{
  display: block;
  padding: 15px 20px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination-item a:hover,
.pagination-item a:focus{
  background-color: #DFDFDF;
  border: none;
}

.pagination-item a:active {
  background-color: #D5D5D5;
  opacity: 0.3;
}

.pagination-item-next{
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
  width: 260px;
  height: 50px;
  text-align:center;
}

.pagination-item-current a{
  height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-grey);
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus{
  color: var(--basic-black);
  background-color: #DFDFDF;
  border: none;
}

.pagination-item-current:active {
  background-color: #D5D5D5;
  opacity: 0.3;
}

/*footer*/

.address-card{
  position: absolute;
  top: 2110px;
  left: 140px;
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  text-align: left;
  margin-top: 54px;
  margin-bottom: 54px;
}

.address-card-сatalog{
  position: absolute;
  top: 2485spx;
  left: 140px;
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  text-align: left;
  margin-top: 54px;
  margin-bottom: 54px;
}

.adress-inside{
  padding-top: 49px;
  padding-bottom: 62px;
  padding-left: 50px;
  padding-right: 39px;
}

.write-us{
  font-size: 16px;
  line-height: 18px;
  width: 219px;
  height: 50px;
  background-color: var(--neon-pink);
  border-radius: 3px;
  margin-top: 54px;
}

.write-us:hover, 
.write-us:focus{
  background-color: #E74246;
}

.write-us:active{
  color: #FFFFFF;
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.full-name{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 22.71px;
}

.address{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-phone{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  padding-top: 10px;
}

.iframe{
  margin: 0;
}

.marker{
  position: absolute;
  position: absolute;
  top: 2150px;
  left: 672px;
  width: 231px;
  height: 190px;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.text-form{
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.modal-write_us{
  top: 120px;
  bottom: auto;
  width: 960px;
  padding: 63px 84px 100px 100px;
}

.modal h2 {
  margin: 0;
  margin-left: 100px;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
}

.text-form input[type="email"],
.text-form input[type="text"] {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
  font: inherit;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey);
  margin-right: 40px;
  margin-bottom: 34px;
}

.text-form input[name="message"] {
  box-sizing: border-box;
  width: 760px;
  height: 118px;
  padding-top: 16px;
  padding-right: 414px;
  padding-bottom: 84px;
  padding-left: 16px;
  font: inherit;
  color: #444444;
  background-color: var(--basic-white);
  border: 2px solid #D7DCDE;
}

.text-form input[type="email"]:hover,
.text-form input[type="text"]:hover,
.text-form input[name="message"]:hover,
.text-form input[type="email"]:focus,
.text-form input[type="text"]:focus,
.text-form input[name="message"]:focus {
  color: #444444;
  border: 2px solid #B4B9BB;
}

.text-form input[type="email"]:active,
.text-form input[type="text"]:active,
.text-form input[name="message"]:active{
  color: #444444;
  border: 2px solid var(--basic-black);
}

.text-form input[type="email"]:invalid,
.text-form input[type="text"]:invalid,
.text-form input[name="message"]:invalid{
  color: #E74246;
  border: 2px solid #E74246;
}

.send-button{
  margin-left: 100px;
  width: 259px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--neon-pink);
}

.send-button:hover, 
.send-button:focus{
  background-color: #E74246;
}

.send-button:active{
  color: #FFFFFF;
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.modal-close{
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color:#FB565A;
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* 960 590 */

.footer-social{
  display: grid;
  grid-template-columns: 260px auto;
  margin: 0;
  padding: 0;
}

.footer-list{
  list-style: none;
  width: 260px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
  padding: 0;
  margin-top: 68px;
  margin-left: 140px;
  margin-bottom: 68px;
}

.social-button{
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: inline-block;
}

.social-button:hover, 
.social-button:focus{
  background-color: #E74246;
}

.social-button:active{
  color: #FFFFFF;
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.friends-footer{
  margin-top: 74px;
  margin-left: 280px;
  margin-bottom: 75px;
}

.friends-footer h2{
  font-size: 36px;
  line-height: 36px;
}

.friends-footer p{
  font-size: 16px;
  line-height: 22px;
}

